<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyweaver Stock Manager</title>
    <link rel="stylesheet" href="../css/homepageStyle.css">
    <link rel="stylesheet" href="../css/managestockStyle.css">
</head>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
    $("#header").load("manager/header.html");
    $("#aside").load("manager/aside.html");
    $("#footer").load("manager/footer.html");
});
</script> 
</head>
<body>
<div id="header"></div>
<div class="container">
    <div id="aside"></div>
    <main>
        <section class="dashboard-overview">
            <h1>Overview</h1>
            <div class="stats">
                <div>Total Products: 100</div>
                <div>Out of Stock: 5</div>
                <div>Low Stock: 10</div>
            </div>
        </section>
        <section class="inventory-overview">
            <h2>Inventory List</h2>
            <form th:name = "applyform" action = "/applyproduct" method = "post">
                <input type = "hidden" name = "name" id = "name" value = ""></input>
                <input type = "hidden" name = "category" id = "category" value = ""></input>
                <input type = "hidden" name = "price" id = "price" value = ""></input>
                <input type = "hidden" name = "quantity" id = "quantity" value = ""></input>
                <input type = "hidden" name = "pid" id = "pid" value = ""></input>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="bodies" th:each="product:${p}">
                        <td><input type="text" id="nameinput" th:value="${product.productName}"></input></td>
                        <td><input type="text" id="categoryinput" th:value="${product.productCategory}"></input></td>
                        <td><input type="number" step="0.01" id="priceinput" th:value="${product.productPrice}"></input></td>
                        <td><input type="number" id="quantityinput" th:value="${product.productQuantity}"></input></td>
                        <td><a style="display:inline" href="#" onclick="ApplyProduct()">Confirm Changes</a></td>
                        <p style="display: none" th:text="${product.pid}" id="pidstore"></p>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
<div id="footer"></div>
</body>
<script>
    function ApplyProduct(EditButton)
    {
        document.getElementById("name").value = document.getElementById("nameinput").value;
        document.getElementById("category").value = document.getElementById("categoryinput").value;
        document.getElementById("price").value = document.getElementById("priceinput").value;
        document.getElementById("quantity").value = document.getElementById("quantityinput").value;
        document.getElementById("pid").value = document.getElementById("pidstore").innerHTML;
        document.applyform.submit();
    }
</script>
</html>