<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title>Skyweaver Authentication</title>
</head>
<style>
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0f2f1;
    }

    .container {
        text-align: center;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .center {
        display: flex;
        justify-content: center;
    }
</style>
<body>
    <div class="container">
        <h1 th:text="${message}" class="display-4"></h1>
        <div class="row justify-content-center">
            <div th:if="${message.contains('successful')}" class="center">
                <a class="display-6" th:href="${access.contains('MANAGER') ? '/manager/homepage.html' : '/employee/homepage.html'}">Go to Homepage</a>
            </div>
            <div th:if="${message.contains('failed')}" class="center">
                <a class="display-6" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
