<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyweaver Product Editor</title>
    <link rel="stylesheet" href="../css/homepageStyle.css">
</head>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
    $("#header").load("header.html");
    $("#aside").load("aside.html");
    $("#footer").load("footer.html");
});
</script> 
</head>
<!-- NOTE: This page can only be accessed via adding a new product, if you refresh the page,
it resubmits the form and duplicates the item you added -->
<body>
<div id="header"></div>
<div class="container">
    <div id="aside"></div>
    <main>
        <h1>Product successfully added to inventory</h1> 
        <section class="quick-actions">
            <h2>Would you like to:</h2>
            <a href="manager/add.html"><button>Add New Product</button></a>
            <a href="/manager/order"><button>Create New Order</button></a>
            <!--button>Generate Report</button-->
        </section>
        <section class="inventory-overview">
            <h2>Inventory List</h2>
            <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock Level</th>
                        <th>Status</th>
                    </tr>
                    <tr id="bodies" th:each="product:${p}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productCategory}"></td>
                        <td>$ <p th:text="${#numbers.formatDecimal(product.productPrice, 1, 2)}" style="display:inline"></p></td>
                        <td th:text="${product.productQuantity}"></td>
                        <td th:switch="${product.productQuantity}">
                            <span th:case="0">Out of Stock</span>
                            <span th:case="*">In Stock</span>
                        </td>
                    </tr>
            </table>
        </section>
    </main>
</div>
<div id="footer"></div>
</body>
</html>