<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyweaver Application</title>
    <link rel="stylesheet" href="../css/homepageStyle.css">
    <link rel="stylesheet" href="../css/longAside.css">
</head>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
    $("#header").load("header.html");
    $("#aside").load("aside.html");
    $("#footer").load("footer.html");
});
</script> 
</head>
<body>
<div id="header"></div>
<div class="container">
    <div id="aside"></div>
    <main>
        <div class="greeting">Hi, <span th:text="${username}"></span>!</div><br>
        <section class="dashboard-overview">
            <h1>Dashboard</h1>
            <div class="stats">
                <div><p style="display:inline">Total Products: </p><p style="display:inline" th:text="${rowCount}"></p></div>
                <div><p style="display:inline">Out of Stock: </p><p style="display:inline" th:text="${outofstock}"></p></div>
                <div><p style="display:inline">Low Stock (Less than 12 in Stock): </p><p style="display:inline" th:text="${lowstock}"></p></div>
                <div>Recent Orders: X</div>
                <div>Total Suppliers: X</div>
            </div>
        </section>
        <section class="quick-actions">
            <h2>Actions</h2>
            <!--button>Create New Order</button>
            <button>Generate Report</button-->
            <p>None</p>
        </section>
        <section class="inventory-overview">
            <h2>No/Low Stock</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock Level</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="bodies" th:each="product:${restock}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productCategory}"></td>
                        <td>$ <p th:text="${#numbers.formatDecimal(product.productPrice, 1, 2)}" style="display:inline"></p></td>
                        <td th:text="${product.productQuantity}"></td>
                        <td th:switch="${product.productQuantity}">
                            <span th:case="0">Out of Stock</span>
                            <span th:case="*">In Stock</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- <section class="recent-orders">
            <h2>Recent Orders</h2>
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                </tbody>
            </table>
        </section> -->
    </main>
</div>
<div id="footer"></div>

</body>
</html>
