<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Added</title>
    <link rel="stylesheet" href="../css/homepageStyle.css">
</head>
<body>
    <header>
        <div class="logo">Skyweaver Inventory System</div>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">My Profile</a></li>
            </ul>
        </nav>
        <div class="logout"><a href="#">Log out</a></div>
    </header>
    <div class="container">
        <aside>
            <ul>
                <li><a href="homepage.html">Dashboard</a></li>
                <li><a href="add.html">Add Product</a></li>
                <li><a href="managestock.html">Manage Stock</a></li>
                <li><a href="#">Purchase Orders</a></li>
                <li><a href="#">Sales Orders</a></li>
            </ul>
        </aside>
        <main>
            Product added Successfully
            <section class="quick-actions">
                <h2>Actions</h2>
                <a href="add.html"><button>Add New Product</button></a>
                <button>Create New Order</button>
                <button>Generate Report</button>
            </section>
        </main>
</body>
</html>